fastembed 
python-dotenv 
numpy
qdrant-client
python-frontmatter
langchain-groq
fastapi
uvicorn
pydantic
groq
deepgram-sdk
supabase
httpx
langchain-google-community[gmail]
google-auth-httplib2
google-auth-oauthlib